*{
    font-family: 'Nanum Gothic', sans-serif;
}

.main{
    width: 300px;
    margin: auto;
}

.my-title{
    background-color:green;
    background-image: url("https://www.ancient-origins.net/sites/default/files/field/image/Agesilaus-II-cover.jpg");
    background-size: cover;
    background-position: center;

    padding-top: 20px;
    color: white;
    width: 300px;
    height: 200px;
    text-align: center;
    border-radius: 10px;
}

.login{
    width: 250px;
    margin: auto;
    padding: 0px 20px;
}

.btn{
    display: block;
    width: 100px;
    margin: auto;
}